<html>
  <head>
    <title>Site David</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Site David</a></h1>
    </div>

    <div>
      <p>published:13.06.2019</p>
      <h2><a href = "">First Post</a></h2>
      <p>Panda wielka - Głównym pożywieniem pandy jest bambus.
         Od listopada do marca je wyłącznie
         liście i młode łodygi, zawierające mniej
         błonnika i więcej składników odżywczych, od
         kwietnia do czerwca zjada także starsze łodygi,
         natomiast od lipca do października prawie wyłącznie
         liście. </p>
    </div>

    <div>
      <p>published:13.06.2019</p>
      <h2><a href = "">Second Post</a></h2>
      <p>Panda mala - Prowadzi nocny tryb życia i jest zwierzęciem
        wszystkożernym, jednakże pokarm roślinny jest podstawą
        jej wyżywienia.</p>
    </div>
  </body>
</html>
